<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Groupomania</title>
</head>
<body>
    <div id="app">
        <h1>Groupomania</h1>

        <div id="post-list-example">
            <form v-on:submit.prevent="addNewPost">
                <p>{{ requete }}</p>
                <!--ul>
                    <li
                    v-for="item in requete"
                    v-bind:key="requete.id"
                    v-bind:title="requete.title"
                    > {{ item.titre }}
                    </li>
                </ul--><br>

                <label for="new-post">Liste de Publications</label>
                <input
                v-model="newrequete"
                id="new-post"
                placeholder="New post..."
                >
                <button>Add</button>
            </form>
            <ul>
                <li
                is="post-item"
                v-for="(req, index) in requete"
                v-bind:key="req.id"
                v-bind:title="req.titre"
                v-on:remove="suppPost(index)"
                ></li>
            </ul>
        </div>
        <!-- v-on:remove="requete.splice(index, 1)" -->
    </div>
    <!-- Version développement. Celle-ci donne des avertissements utiles sur la console -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        Vue.component('post-item', {
        template: '\
            <li>\
            {{ title }}\
            <button v-on:click="$emit(\'remove\')">Remove</button>\
            </li>\
        ',
        props: ['title'],
        })

        const app = new Vue({   
            el: '#app',
            data () {
                return {
                    requete: '',
                    newrequete: '',
                    itemAjout: '',
                    itemSuppresion: '',
                }
            },
            mounted () {
                axios
                    .get('http://localhost:3000/Post')
                    .then(response => (this.requete = response.data))
            },
            methods: {
                addNewPost: function () {
                    axios
                        .post('http://localhost:3000/Post', {
                            titre: this.newrequete
                        })
                        .then(response => {
                            this.itemAjout = response.data;
                            this.requete.push({
                                id: this.itemAjout.id,
                                titre: this.itemAjout.titre

                            })
                        });
       
                    this.newrequete = ''                  
                },
                suppPost: function (aa) {
                    console.log(aa)
                    this.requete.splice(aa,1)
                    axios
                    .delete('http://localhost:3000/Post/'+ aa)
                    .then(response => {
                        this.itemSuppresion = response.data;
                        //this.requete.splice(aa,1)                   
                    });
                }
            }
        })
    </script>
</body> 
</html>